{% extends 'base.html' %}
{% load static %}


{% block title %}Список Хакатонов{% endblock %}

{% block style %}
    <link href="{% static 'css/hackathon/list_hackathon.css' %}?v1" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {% for values in hackathon %}
                <div class="col-6">
                    <div class="card mb-3 top-cover" style="width: 30rem; z-index: -3;">
                        <img src="{{ values.cover.url }}" class="card-img-top" alt="{{ values.title }}" style="height: 260px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ values.title }}</b></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Место проведения:</b> {{ values.location }}</li>
                            <li class="list-group-item"><b>Начало:</b> {{ values.start_event }}<br>
                                <b>Конец:</b> {{ values.end_event }}
                            </li>
                            <li class="list-group-item"><b>Организаторы:</b> {{ values.representative_case }}</li>
                            <li class="list-group-item"><b>Направления:</b> {{ values.direction }}<br>
                            <b>Целевая аудитория:</b> {{ values.target_audience }}</li>
                            <li class="list-group-item"><b>Призовой фонд:</b> {{ values.prize_pool }}</li>
                        </ul>
                        <div class="card-body">
                            <p class="card-text">{{ values.info_case }}</p>
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-outline-success">Подать заявку</a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}