{% extends 'base.html' %}
{% load static %}


{% block title %}Генератор QR-тегов{% endblock %}

{% block style %}
    {#    <link href="{% static 'css/hackathon/list_hackathon.css' %}?v1" rel="stylesheet" type="text/css">#}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card mb-3 mt-5">
                    <img src="{% static 'img/qr.png' %}" class="card-img-top text-center" style="width: 128px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">QR-теги</h5>
                        <p class="card-text">Теги формируются в docx файл. Вы можете задать количество участников, а
                        программа сама все сделает
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>


                <p class="mt-5">Введите количество участвующих команд</p>
                <input class="form-control" type="number" id="number_participants" placeholder="Кол-во"
                       aria-label="deafult input example" style="width: 90px;">
                <button type="button" id="send_number" class="btn btn-primary mt-3">Создать QR-теги</button>
                <div class="spinner-border text-primary mt-3" id="status" role="status" style="display: none;">
                </div>
                <a id="docx" href="">Скачать QR-коды</a>
                <div id="text_push"></div>
            </div>
        </div>
    </div>

{% endblock %}




{% block script %}
    <script type="text/javascript">
        $("#send_number").click(function () {
            var input = $('#number_participants').val();
            $("#status").css("display", "block");
            $.ajax({
                url: '{% url 'start_generate_qr' %}',
                data: {
                    'inputValue': input
                },
                dataType: 'json',
                success: function (data) {
                    $("#status").css("display", "none");
                    document.getElementById('text_push').innerHTML = data["response"];
                    if (data['response']){
                        $("#docx")[0].href = data['response'];
                    }
                }
            });
        });
    </script>
{% endblock %}